<!--
  ~ /*
  ~  *  Copyright 2018 Julian Exenberger
  ~  *
  ~  *  Licensed under the Apache License, Version 2.0 (the "License");
  ~  *  you may not use this file except in compliance with the License.
  ~  *  You may obtain a copy of the License at
  ~  *    `*   `[`http://www.apache.org/licenses/LICENSE-2.0`](http://www.apache.org/licenses/LICENSE-2.0)
  ~  *
  ~  *  Unless required by applicable law or agreed to in writing, software
  ~  *  distributed under the License is distributed on an "AS IS" BASIS,
  ~  *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  *  See the License for the specific language governing permissions and
  ~  *  limitations under the License.
  ~  */
  ~
  -->

<head>
    <title>Nemawashi</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/tree.png" rel="shortcut icon" type="image/x-icon">
    <link href="/tree.png" rel="icon" type="image/x-icon">

    <link type="text/css" rel="stylesheet" href="lib/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="lib/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="lib/css/json-tree.css" />
</head>
<body>
<div id="app">
    <nw-nav-bar v-on:login="reload()"></nw-nav-bar>
</div>
<script src="lib/js/vue.js"></script>
<script src="lib/js/vue-router.js"></script>
<script src="lib/js/json-tree.js"></script>
<script src="lib/js/vue-cookies.js"></script>
<script src="lib/js/pollyfill.min.js"></script>
<script src="lib/js/bootstrap-vue.min.js"></script>
<script src="lib/app/util.js"></script>
<script src="lib/app/api.js"></script>
<script src="lib/app/components/approvals.js"></script>
<script src="lib/app/components/nav.js"></script>
<script src="lib/app/components/login.js"></script>
<script src="lib/app/components/landing-page.js"></script>
<script src="lib/app/components/toggle.js"></script>
<script src="lib/app/components/keyvalue.js"></script>
<script src="lib/app/components/array.js"></script>
<script src="lib/app/components/dropdown.js"></script>
<script src="lib/app/components/string.js"></script>
<script src="lib/app/components/datetime.js"></script>
<script src="lib/app/components/secret.js"></script>
<script src="lib/app/components/task-runner.js"></script>
<script src="lib/app/components/task-search.js"></script>
<script src="lib/app/components/task-executor.js"></script>
<script src="lib/app/components/files.js"></script>
<script src="lib/app/nemawashi.js"></script>

</body>